

form
{
	height:				100%; 
	width:				100%; 
	margin:				0px; 
	padding:			0px;
}
#contenedor
{
	background-color:#373737;
}
.color_fondo1 {
	background-color:black;
}
.color_fondo2 {
	background-color:#373737;
	color:white;
}

div.report_form table tr td
{
	padding-left:		10px;
	padding-right:		10px;
}
div.report_form table tr
{
	height:				25px;
}
.base_report {
	height: 			calc(200% -100%);
	height: 			-moz-calc(100px);
	height: 			-webkit-calc(100%);
}

div.view_report_d1 div.view_report_d2 table.view_report_t1 tr td{
	padding-left:		4px;
	padding-right:		4px;
}

div.view_report_d1 div.view_report_d2 table.view_report_t1 tr td table.cBotones tr td.cAction{
	padding-left:		1px;
	padding-right:		1px;
}


.module_title {
	padding-left:		10px; 
	font-weight:		bold; 
	font-size:			22; 
	color:				DimGray;
}

.module_subtitle{
	color:				SteelBlue; 
	font-size:			20; 
	text-align:			left; 
	font-weight:		bold; 
	padding-top:		15px; 
	padding-bottom:		10px;
}
.module_subtitle2{
	color:				SteelBlue; 
	font-size:			17; 
	text-align:			left; 
	font-weight:		bold;  
	padding-top:		15px; 
	padding-bottom:		10px;
}
.module_subtitle3{
	color:				SteelBlue; 
	font-size:			14; 
	text-align:			left; 
	font-weight:		bold; 
	padding-top:		15px; 
	padding-bottom:		10px;
}
.module_subtitle4{
	color:				SteelBlue; 
	font-size:			14; 
	text-align:			left; 
	font-weight:		bold; 
	padding-top:		15px; 
	padding-bottom:		10px;
}


.submenu2
{
	margin:     		4px 15px 4px 15px;
	color:      		#A4A4A4;
	font-size:  		12px;
	padding:    		3px 0px 3px 5px;
}

.submenu2_active,
.submenu2:hover,
.submenu2:active
{
	cursor:     		pointer;
	color:      		#373737;
	border-radius: 		15px;
	background: 		#A4A4A4;   
	padding:    		3px 0px 3px 20px;
	margin-left:    	0px;
	/*font-weight: 		bold;*/
}




.mainTable
{
	text-align:				left;
	margin:				15px;
	padding:			10px;
	background-color:	white; 
	border:				1px; 
	border-radius:		5px 15px 5px 15px;     
	
	width:				-moz-calc(100% - 50px); 
	width:				calc(100% - 50px);      
	max-width: 			950px;
	min-height: 		350px;
	/*
	height:				-moz-calc(100% - 50px); 
	height:				calc(100% - 50px);    
	*/
	border: 			1px solid grey;

	-webkit-box-shadow: 2px 2px 20px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 2px 20px 1px rgba(0,0,0,0.75);
	box-shadow: 2px 2px 20px 1px rgba(0,0,0,0.75);
}


.alto{height: 			30px;}

.select_devices
{
	cursor: 			pointer;
	color: 				white;
}
.device_active,
.select_devices:hover  
{
	background:			SteelBlue;
	color: 				#0B0B61;
	border-radius: 		25px;
}

/* INICIO REPORTE CEBRA ############################################################ */
table tr.odd,
.odd {
	height: 			30px;
	background: 		#E5E5E5;
}
table tr.even,
.even {
	height: 			30px;
	background: 		#D5D5D5;
}
table tr.even:hover,
.even:hover,
table tr.odd:hover,
.odd:hover  {
	height: 			30px;
	background: 		#AAA;
}
/* FIN REPORTE CEBRA ############################################################ */

.formulario{width: 		100%;}
.d_none{display:		none;}
.d_block{display:		block;}
.mizq{padding-left:	    10px;}
.mder{padding-right:	10px;}
.msup{padding-top:	    10px;}
.minf{padding-bottom:	10px;}

/* INICIO GENERALES ############################################################ */
body, table, a
{
	text-decoration: 	none;
	font-family: 	   	Verdana, Arial, comic sans ms, Helvetica, sans-serif;
	text-decoration: 	none;
	border-collapse: 	collapse;
	color: 				gray;
	font-size: 			11px;	
}
#menu 
{
	z-index:			1000;
	width:				1035px;
	position:			absolute;
	top:				225px;
	height:				30px;
}

.menuHorizontal
{
	text-decoration:  	none; 
	color:            	white;
	float:            	left;
	padding:          	5px;
	border:           	1px solid black;  
	border-radius:    	4px;
}
.menuHorizontal:hover
{
	text-decoration:  	none; 
	color:            	#A9F5F2;
	border-color:     	#58FAF4;
	cursor:           	pointer;
}

/* FIN GENERALES ############################################################ */



@import url(https://fonts.googleapis.com/css?family=Aldrich);

section {				margin: 20px;}

.checkbox-2 input[type=checkbox] {
	visibility: 		hidden;
}
.checkbox-2 {
	width: 				84px;
	height: 			24px;
	/* background: 		rgba(0, 0, 0, 0.16); */
	border-radius: 		5px;
	border:           	1px solid gray;
	position: 			relative;	
	-webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
	box-shadow: 		inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
}
.checkbox-2:before {
	content: 			'SI';
	position: 			absolute;
	top: 				1;
	left: 				16px;
	color: 				gray;
	font-size: 			15px;
	line-height: 		25px;
}
.checkbox-2:after {
	content: 			'NO';
	color: 				gray;
	position: 			absolute;
	top: 				1px;
	right: 				10px;
	font-size: 			15px;
	line-height: 		25px;
}
.checkbox-2 label { 
	background: 		#BE0000;    /* ROJO  */
	display: 			block;
	width: 				35px;
	height: 			20px;
	border-radius: 		5px;
	transition: 		all .7s ease;
	cursor: 			pointer;
	position: 			absolute;
	top: 				2px;
	z-index: 			1;
	left: 				2px;
}
.checkbox-2 input[type=checkbox]:checked + label {
	left: 				48px;
	background: 		#14640B; 	/* VERDE  */
}
.imgBox:hover 
{ 
	cursor: 			pointer;
} 
